# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Type=Application
Exec=kjournaldbrowser %u
Icon=utilities-log-viewer
GenericName=Journald Browser
GenericName[ca]=Navegador de «journald»
GenericName[ca@valencia]=Navegador de «journald»
GenericName[cs]=Prohlížeč journald
GenericName[de]=Journald-Browser
GenericName[el]=Journald Browser
GenericName[en_GB]=Journald Browser
GenericName[es]=Explorador de Journald
GenericName[eu]=Journald arakatzailea
GenericName[fi]=Journald-selain
GenericName[fr]=Navigateur « Journald »
GenericName[hi]=जर्नलडी ब्राउज़र
GenericName[ie]=Navigator de Journald
GenericName[it]=Navigatore journald
GenericName[ka]=Journald -ის დათვალიერება
GenericName[ko]=Journald 탐색기
GenericName[nl]=Browser van journald
GenericName[pl]=Przeglądarka Journald
GenericName[pt]=Navegador do Journald
GenericName[pt_BR]=Navegador do journald
GenericName[ro]=Navigator Journald
GenericName[sk]=Prehliadač Journald
GenericName[sl]=Brskalnik journald
GenericName[sv]=Journald-bläddrare
GenericName[tr]=Journald Tarayıcısı
GenericName[uk]=Навігатор для Journald
GenericName[x-test]=xxJournald Browserxx
GenericName[zh_CN]=Journald 浏览器
Terminal=false
Name=Journald Browser
Name[ca]=Navegador de «journald»
Name[ca@valencia]=Navegador de «journald»
Name[cs]=Prohlížeč journald
Name[de]=Journald-Browser
Name[el]=Περιηγητής journald
Name[en_GB]=Journald Browser
Name[es]=Explorador de Journald
Name[eu]=Journald arakatzailea
Name[fi]=Journald-selain
Name[fr]=Navigateur « Journald »
Name[hi]=जर्नलडी ब्राउज़र
Name[ie]=Navigator de Journald
Name[it]=Navigatore journald
Name[ka]=Journald -ის დათვალიერება
Name[ko]=Journald 탐색기
Name[nl]=Browser van journald
Name[pl]=Przeglądarka Journald
Name[pt]=Navegador do Journald
Name[pt_BR]=Navegador do journald
Name[ro]=Navigator Journald
Name[sk]=Prehliadač Journald
Name[sl]=Brskalnik journald
Name[sv]=Journald-bläddrare
Name[tr]=Journald Tarayıcısı
Name[uk]=Навігатор для Journald
Name[x-test]=xxJournald Browserxx
Name[zh_CN]=Journald 浏览器
Categories=Qt;KDE;System;Monitor;
