# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Type=Application
Icon=utilities-log-viewer
GenericName=Journald Browser
GenericName[ca]=Navegador de Journald
GenericName[ca@valencia]=Navegador de Journald
GenericName[ko]=Journald 탐색기
GenericName[nl]=Browser van journald
GenericName[uk]=Навігатор для Journald
GenericName[x-test]=xxJournald Browserxx
Terminal=false
Name=Journald Browser
Name[ca]=Navegador de Journald
Name[ca@valencia]=Navegador de Journald
Name[ko]=Journald 탐색기
Name[nl]=Browser van journald
Name[uk]=Навігатор для Journald
Name[x-test]=xxJournald Browserxx
Categories=Qt;KDE;System;Monitor;
